@font-face {
    font-family: century;
    src: url("/fonts/Century.otf") format("opentype");
}

html, body {
  min-height: 100%;
}

body {
  font-family: century, serif;
  font-size: 30px;
  overflow: hidden;
  margin: 75px;
}

#start {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  text-align: center;
}
#start button {
  cursor: pointer;
  font-size: 40px;
  border: 0; background: none;
  padding: 10px 30px;
  border: 2px solid black;
}
#start button:active {
  background: black;
  color: white;
}

#metrics {
  position: absolute; bottom: 10px; left: 10px;
  font-size: 23px;
}
#HeartBPM:before { content: "❤️ "; }
#GSR1:before { content: "1☝️ "; color: #666; }
#GSR2:before { content: "2☝️ "; color: #666; }


body.present #start { display: none; }

#words {
  line-height: 0.7;
}

#words span {
  display: inline-block;
  margin-right: 5px;
  border-bottom: 1px solid black;
  transition: opacity 800ms linear;
  opacity: 1;
  padding-bottom: 4.3px;
}

#words span.invisible {
  opacity: 0;
}

#words span.pitch-1 { font-size: 30%; }
#words span.pitch-2 { font-size: 40%; }
#words span.pitch-3 { font-size: 60%; }
#words span.pitch-4 { font-size: 80%; }
#words span.pitch-5 { font-size: 100%; }
#words span.pitch-6 { font-size: 110%; }
#words span.pitch-7 { font-size: 130%; }
#words span.pitch-8 { font-size: 160%; }
#words span.pitch-9 { font-size: 200%; }
#words span.pitch-10 { font-size: 220%; }

#words span.volume-1 { border-width: 0; }
#words span.volume-2 { border-width: 1px; }
#words span.volume-3 { border-width: 2px; }
#words span.volume-4 { border-width: 4px; }
#words span.volume-5 { border-width: 6px; }
#words span.volume-6 { border-width: 9px; }
#words span.volume-7 { border-width: 12px; }
#words span.volume-8 { border-width: 20px; }
#words span.volume-9 { border-width: 26px; }
#words span.volume-10 { border-width: 30px; }
